<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>Roulette</string>
		<key>desc</key>
		<string>Application for iOS</string>
		<key>image</key>
		<string>http://alvastudio.com/manager/pages/admin/upload_images/ar_green_512.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Roulette</string>
		<key>desc</key>
		<string>Application for iOS</string>
		<key>image</key>
		<string>http://alvastudio.com/manager/pages/admin/upload_images/ar_green_512.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Roulette</string>
		<key>desc</key>
		<string>Application for iOS</string>
		<key>image</key>
		<string>http://alvastudio.com/manager/pages/admin/upload_images/ar_green_512.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Roulette</string>
		<key>desc</key>
		<string>Application for iOS</string>
		<key>image</key>
		<string>http://alvastudio.com/manager/pages/admin/upload_images/ar_green_512.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Roulette</string>
		<key>desc</key>
		<string>Application for iOS</string>
		<key>image</key>
		<string>http://alvastudio.com/manager/pages/admin/upload_images/ar_green_512.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Roulette</string>
		<key>desc</key>
		<string>Application for iOS</string>
		<key>image</key>
		<string>http://alvastudio.com/manager/pages/admin/upload_images/ar_green_512.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Roulette</string>
		<key>desc</key>
		<string>Application for iOS</string>
		<key>image</key>
		<string>http://alvastudio.com/manager/pages/admin/upload_images/ar_green_512.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Roulette</string>
		<key>desc</key>
		<string>Application for iOS</string>
		<key>image</key>
		<string>http://alvastudio.com/manager/pages/admin/upload_images/ar_green_512.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Roulette</string>
		<key>desc</key>
		<string>Application for iOS</string>
		<key>image</key>
		<string>http://alvastudio.com/manager/pages/admin/upload_images/ar_green_512.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Roulette</string>
		<key>desc</key>
		<string>Application for iOS</string>
		<key>image</key>
		<string>http://alvastudio.com/manager/pages/admin/upload_images/ar_green_512.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Roulette</string>
		<key>desc</key>
		<string>Application for iOS</string>
		<key>image</key>
		<string>http://alvastudio.com/manager/pages/admin/upload_images/ar_green_512.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Roulette</string>
		<key>desc</key>
		<string>Application for iOS</string>
		<key>image</key>
		<string>http://alvastudio.com/manager/pages/admin/upload_images/ar_green_512.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Roulette</string>
		<key>desc</key>
		<string>Application for iOS</string>
		<key>image</key>
		<string>http://alvastudio.com/manager/pages/admin/upload_images/ar_green_512.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Roulette</string>
		<key>desc</key>
		<string>Application for iOS</string>
		<key>image</key>
		<string>http://alvastudio.com/manager/pages/admin/upload_images/ar_green_512.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Roulette</string>
		<key>desc</key>
		<string>Application for iOS</string>
		<key>image</key>
		<string>http://alvastudio.com/manager/pages/admin/upload_images/ar_green_512.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Roulette</string>
		<key>desc</key>
		<string>Application for iOS</string>
		<key>image</key>
		<string>http://alvastudio.com/manager/pages/admin/upload_images/ar_green_512.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Roulette</string>
		<key>desc</key>
		<string>Application for iOS</string>
		<key>image</key>
		<string>http://alvastudio.com/manager/pages/admin/upload_images/ar_green_512.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Roulette</string>
		<key>desc</key>
		<string>Application for iOS</string>
		<key>image</key>
		<string>http://alvastudio.com/manager/pages/admin/upload_images/ar_green_512.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Roulette</string>
		<key>desc</key>
		<string>Application for iOS</string>
		<key>image</key>
		<string>http://alvastudio.com/manager/pages/admin/upload_images/ar_green_512.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Roulette</string>
		<key>desc</key>
		<string>Application for iOS</string>
		<key>image</key>
		<string>http://alvastudio.com/manager/pages/admin/upload_images/ar_green_512.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Roulette</string>
		<key>desc</key>
		<string>Application for iOS</string>
		<key>image</key>
		<string>http://alvastudio.com/manager/pages/admin/upload_images/ar_green_512.png</string>
	</dict>
</array>
</plist>
